* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu';
    font-size: 22px;
    width: 100vw;
}

/* Nav & Header */

.nav-container {
    padding-right: 20rem;
    padding-left: 20rem;
    font-size: 13px;
}

.nav-container ul {
    display: flex;
}

.nav-container li {
    list-style: none;
    padding: 2rem 1rem;
}

.nav-container a {
    text-decoration: none;
    color: black;
}

.logo {
    flex: 1;
}

nav img {
    width: 60px;
    height: 15px;
}

.toggle {
    display: none;
}

header {
    background-color: #333333;
    height: 26rem;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
}

h1 {
    padding-top: 160px;
    padding-bottom: 50px;
}

p {
    line-height: 1.7rem; 
}

button {
    border-radius: 50px;
    padding: 12px 22px;
    border-style: none;
}

/* Main section */

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin-inline: auto;
}

.row {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid gray;
    padding-bottom: 5rem;
    margin: 1rem;
}

.card img {
    max-width: 100%;
    flex: 1;
}

.card-big img {
    flex: 2;
}

.card-big img {
    flex: 2;
}

.card p {
    font-size: 1rem;
    margin-top: 10px;
}

.batman-logo {
    border-radius: 50%;
    background-color: #c4c4c4;
    width: 5rem;
    height: 5rem;
}

blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-style: italic;
}

/* Footer */

footer {
    background: #4F4F4F;
    color: white;
    display:flex;
    justify-content:space-between;;

    height: 35vh;
    padding-top: 10vh;
}

#about-us {
    max-width:312px;
    font-size: 1rem;
    
}
.footer-nav { 
    display:flex;
    flex-direction: column;
    font-size: 1rem;
    
}
.footer-nav a {
    text-decoration: none;
    color: white;
    line-height: 3rem;
}

#social-media {
    font-size: 1rem;
    
}
.footer-h2 {
    margin-bottom: 1rem;
    
}
.social-icons {
    display:flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.footer-content {
    
    width: 80vh;
    margin-inline: auto;
}

/* Mediaquery for mobilephone */

@media (max-width: 600px) {
    .nav-container { 
        padding: 0 1rem;
    }

    .logo {
        order: 1; 
    }

    .toggle {
        display: flex;
        width: 3rem;
        order: 2; 
    }

    .nav-links {
        display: none;
        text-decoration: none;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .footer-nav {
        display: none;
    }
    
    footer {
        flex-wrap: wrap;
    }
}