* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big-card img {
    height: 100px;
    width: 100px;
}

.small-card img {
    height: 100px;
    width: 100px;
}

body {
    font-family: 'Ubuntu';
    font-size: 22px;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #333333;
    height: 32rem;
    width: 100%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 150px;  
}

button {
    border-radius: 50px;
    padding: 12px 22px;
    border-style: none;
}

footer {

}