* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu';
    max-width: 1440px;
    margin: 0 auto;
}

/* Nav & Header */

.nav-container {
    padding-right: 13.75rem;
    padding-left: 13.75rem;
    font-size: 16px;
}

.nav-container__list {
    display: flex;
    list-style: none;
}

.nav-container__link {
    padding: 2rem 1rem;
}

.nav-container__hyperlink {
    text-decoration: none;
    color: black;
}

.nav-container__logo {
    flex: 1;
    padding: 2rem 1rem;
}

.nav-container__toggle {
    display: none;
    padding: 24px 0;
}

.nav-container__image {
    width: 95px;
    height: 24px;
}

.banner {
    background-color: #333333;
    width: 100%;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner__text {
    padding-top: 203px;
    padding-bottom: 76px;
}

.banner__button {
    border-radius: 50px;
    padding: 24px 40px;
    border-style: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 88px;
}

/* Main section */

.wrapper {
    width: 80%;
    margin: 6.25rem auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 311px;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid gray;
    padding-bottom: 4rem;
    row-gap: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.card--big {
    width: 656px;
    min-width: 656px;
}

.card__image {
    height: 288px;
}

.card__title {
    line-height: 1.57rem;
    font-size: 1.563rem;
}

.card__body {
    line-height: 1.4rem;
    font-size: 0.875rem;
}

/* Blockquote for Batman */

.blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-style: italic;
    font-size: 2rem;
}

.blockquote__logo {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-top: 6rem;
    background: url(../assets/batcat.jpeg);
    background-size: cover;
}

.blockquote__title { 
    font-weight: lighter;
    white-space: nowrap;
}

.blockquote__body {
    font-weight: bold;
    font-style: italic;
}

/* Footer */

.footer {
    background: #333333;
    color: white;
    padding: 4.438rem 22rem 9rem 13.75rem;
}

.footer__spacing {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.about-us {
    max-width:312px;
    font-size: 1rem;
}

.about-us__title {
    margin-bottom: 1rem;
}

.about-us__body {
    line-height: 1.7rem; 
    max-height: 198px;
}

.footer-nav { 
    display:flex;
    flex-direction: column;
    font-size: 1rem;
}

.footer-nav__link {
    text-decoration: none;
    color: white;
    line-height: 3rem;
}

.social-media {
    font-size: 1rem;
}

.social-media__text {
    margin-bottom: 1rem;
}

.social-media__icons {
    display: flex;
    gap: 2rem;
}


/* Mediaquery for mobilephone */

@media (max-width: 768px) {

    /* Mediaqueries for header */

    .nav-container { 
        padding: 0 1rem;
    }

    .nav-container__toggle-image {
        height: 48px;
        width:50px;
    }

    .nav-container__image {
        order: 1; 
    }

    .nav-container__toggle {
        display: flex;
        order: 2; 
    }

    .nav-container__hyperlink {
        display: none;
        text-decoration: none;
    }

    .nav-container__logo {
        padding: 0 0;
        display: flex;
        align-items: center;
    } 

    /* Mediaqueries for main */

    .card--big {
        width: 311px;
        min-width: 311px;
    }
    
    .blockquote {
        font-size: 5vw;
        gap: 1.5rem;
    }

    /* Mediaqueries for footer */

    .footer {
        height: 50vh;
        padding: 4.438rem 0 0 5vw;
        
    }

    .footer-nav {
        display: none;
    }
  
    .footer__spacing {
        flex-wrap: wrap;
    }
}

@media (max-width: 1440px) {

    .footer__spacing {
        flex-wrap: wrap;
    }

    .footer {
        padding: 4.438rem 18vw 10rem 5vw;
    }
}